body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/* comeback to this */
.header{
    padding: 80px;
}

/* bug couldn't contain overflowing */
.grid-container{
    display: flex;
    justify-content: center;

    flex-direction: column;
    border: 2px solid rebeccapurple;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

/* /* comeback to this */ 
.footer{
    margin-top: 150px;
    /* padding: 80px; */
} 

.grid-container .grids{
    flex: 1;
    /* border: 1px solid rgb(0, 0, 0); */
}
.grid-container > .grid-column{
    border: 1px solid red;
  
}

.grid-container > .grid-row{
    border: 1px solid blue;
   
}

